Django>=5.2.1,<6.0
djangorestframework>=3.15.2,<4.0
djangorestframework-simplejwt>=5.3.0
django-cors-headers>=4.3.0
django-import-export>=4.0.0
python-dotenv
psycopg2-binary
google-genai
typesense
beautifulsoup4
ollama
summa
requests
xlsxwriter
pandas
pypdf
reportlab
