@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

* {
	font-family: "Inter", sans-serif;
}

* {
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

*::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.4);
	cursor: grab;
}

*::-webkit-scrollbar-thumb:active {
	cursor: grabbing;
}

.leaflet-control-attribution {
	display: none;
}
/* two line truncate */
.truncate-2 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

/* custom scrollbar */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.4);
	cursor: grab;
}
::-webkit-scrollbar-thumb:active {
	cursor: grabbing;
}

.animate-slideIn {
	animation: slideIn 0.3s ease-in-out;
}
.animate-slideOut {
	animation: slideOut 0.3s ease-in-out;
}

@keyframes slideIn {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideOut {
	from {
		transform: translateY(0);
		opacity: 1;
	}
	to {
		transform: translateY(-100%);
		opacity: 0;
	}
}

.noScrollbar::-webkit-scrollbar {
	display: none;
}

@keyframes moveHorizontal {
	0% {
		transform: translateX(-50%) translateY(-10%);
	}
	50% {
		transform: translateX(50%) translateY(10%);
	}
	100% {
		transform: translateX(-50%) translateY(-10%);
	}
}

@keyframes moveInCircle {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes moveVertical {
	0% {
		transform: translateY(-50%);
	}
	50% {
		transform: translateY(50%);
	}
	100% {
		transform: translateY(-50%);
	}
}

.PhotoView-Slider__Backdrop {
	background-color: #000000bb !important;
	backdrop-filter: blur(5px);
}
.PhotoView__Photo {
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.shadow-border-r {
	box-shadow: -1px 0px 0px 0px #d1d5dc inset;
	-webkit-box-shadow: -1px 0px 0px 0px #d1d5dc inset;
	-moz-box-shadow: -1px 0px 0px 0px #d1d5dc inset;
}

.shadow-border-l {
	box-shadow: 1px 0px 0px 0px #d1d5dc inset;
	-webkit-box-shadow: 1px 0px 0px 0px #d1d5dc inset;
	-moz-box-shadow: 1px 0px 0px 0px #d1d5dc inset;
}
.shadow-border-b {
	box-shadow: 0px -1px 0px 0px #d1d5dc inset;
	-webkit-box-shadow: 0px -1px 0px 0px #d1d5dc inset;
	-moz-box-shadow: 0px -1px 0px 0px #d1d5dc inset;
}
.shadow-border-t {
	box-shadow: 0px 1px 0px 0px #d1d5dc inset;
	-webkit-box-shadow: 0px 1px 0px 0px #d1d5dc inset;
	-moz-box-shadow: 0px 1px 0px 0px #d1d5dc inset;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes cardFadeIn {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.animate-fadeIn {
	animation: fadeIn 0.5s ease-out forwards;
}

.animate-cardFadeIn {
	animation: cardFadeIn 0.5s ease-out forwards;
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

:root {
	--radius: 0.625rem;
	--background: hsla(338, 0%, 100%);
	--foreground: hsla(224, 72.2%, 4.17%);
	--card: hsla(338, 0%, 100%);
	--card-foreground: hsla(224, 72.2%, 4.17%);
	--popover: hsla(338, 0%, 100%);
	--popover-foreground: hsla(224, 72.2%, 4.17%);
	--primary: hsla(221, 41.7%, 11.1%);
	--primary-foreground: hsla(210, 24.2%, 98.1%);
	--secondary: hsla(220, 15%, 95.9%);
	--secondary-foreground: hsla(221, 41.7%, 11.1%);
	--muted: hsla(220, 15%, 95.9%);
	--muted-foreground: hsla(220, 10.3%, 46.3%);
	--accent: hsla(220, 15%, 95.9%);
	--accent-foreground: hsla(221, 41.7%, 11.1%);
	--destructive: hsla(353, 100%, 42.9%);
	--border: hsla(220, 13.6%, 91%);
	--input: hsla(220, 13.6%, 91%);
	--ring: hsla(218, 11.9%, 64.3%);
	--chart-1: hsla(23, 100%, 44.4%);
	--chart-2: hsla(175, 100%, 27.7%);
	--chart-3: hsla(196, 72.1%, 22.9%);
	--chart-4: hsla(45.5, 100%, 47.2%);
	--chart-5: hsla(39.3, 100%, 46.2%);
	--sidebar: hsla(210, 24.2%, 98.1%);
	--sidebar-foreground: hsla(224, 72.2%, 4.17%);
	--sidebar-primary: hsla(221, 41.7%, 11.1%);
	--sidebar-primary-foreground: hsla(210, 24.2%, 98.1%);
	--sidebar-accent: hsla(220, 15%, 95.9%);
	--sidebar-accent-foreground: hsla(221, 41.7%, 11.1%);
	--sidebar-border: hsla(220, 13.6%, 91%);
	--sidebar-ring: hsla(218, 11.9%, 64.3%);
}

.dark {
	--background: hsla(224, 72.2%, 4.17%);
	--foreground: hsla(210, 24.2%, 98.1%);
	--card: hsla(221, 41.7%, 11.1%);
	--card-foreground: hsla(210, 24.2%, 98.1%);
	--popover: hsla(221, 41.7%, 11.1%);
	--popover-foreground: hsla(210, 24.2%, 98.1%);
	--primary: hsla(220, 13.6%, 91%);
	--primary-foreground: hsla(221, 41.7%, 11.1%);
	--secondary: hsla(215, 31%, 16.9%);
	--secondary-foreground: hsla(210, 24.2%, 98.1%);
	--muted: hsla(215, 31%, 16.9%);
	--muted-foreground: hsla(218, 11.9%, 64.3%);
	--accent: hsla(215, 31%, 16.9%);
	--accent-foreground: hsla(210, 24.2%, 98.1%);
	--destructive: hsla(359, 100%, 69.8%);
	--border: hsla(338, 0%, 100%, 0.1);
	--input: hsla(338, 0%, 100%, 0.15);
	--ring: hsla(220, 10.3%, 46.3%);
	--chart-1: hsla(225, 84.1%, 49%);
	--chart-2: hsla(162, 100%, 35%);
	--chart-3: hsla(39.3, 100%, 46.2%);
	--chart-4: hsla(272, 100%, 65.2%);
	--chart-5: hsla(345, 100%, 56.4%);
	--sidebar: hsla(221, 41.7%, 11.1%);
	--sidebar-foreground: hsla(210, 24.2%, 98.1%);
	--sidebar-primary: hsla(225, 84.1%, 49%);
	--sidebar-primary-foreground: hsla(210, 24.2%, 98.1%);
	--sidebar-accent: hsla(215, 31%, 16.9%);
	--sidebar-accent-foreground: hsla(210, 24.2%, 98.1%);
	--sidebar-border: hsla(338, 0%, 100%, 0.1);
	--sidebar-ring: hsla(220, 10.3%, 46.3%);
}

@layer base {
	mark {
		@apply bg-indigo-500 rounded px-1 text-white font-semibold;
	}
	.gridjs-td {
		@apply truncate;
	}
	.gridjs-wrapper,
	.gridjs-summary,
	.gridjs-pages {
		@apply text-sm;
	}

	.gridjs-th {
		@apply !py-1 !px-2 !text-gray-600 !font-bold capitalize;
	}

	.gridjs-tr:hover > * {
		@apply !bg-gray-100 cursor-pointer;
	}

	.gridjs-td,
	.gridjs-input {
		@apply !py-1 !px-2 !text-gray-700;
	}

	pre {
		@apply rounded-xl !px-3 !bg-green-50 !border-l-4 !border-green-500 shadow-inner;
	}
}
