@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

* {
	font-family: "Inter", sans-serif;
}

.leaflet-control-attribution {
	display: none;
}
/* two line truncate */
.truncate-2 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
mark {
	@apply bg-indigo-500 rounded px-1 text-white font-semibold;
}

/* custom scrollbar */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.4);
	cursor: grab;
}
::-webkit-scrollbar-thumb:active {
	cursor: grabbing;
}

.gridjs-td {
	@apply truncate;
}

.gridjs-wrapper,
.gridjs-summary,
.gridjs-pages {
	@apply text-sm;
}

.gridjs-th {
	@apply !py-1 !px-2 !text-gray-600 !font-bold capitalize;
}

.gridjs-tr:hover > * {
	@apply !bg-gray-100 cursor-pointer;
}

.gridjs-td,
.gridjs-input {
	@apply !py-1 !px-2 !text-gray-700;
}

pre {
	@apply rounded-xl !px-3 !bg-green-50 !border-l-4 !border-green-500 shadow-inner;
}

.animate-slideIn {
	animation: slideIn 0.3s ease-in-out;
}
.animate-slideOut {
	animation: slideOut 0.3s ease-in-out;
}

@keyframes slideIn {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideOut {
	from {
		transform: translateY(0);
		opacity: 1;
	}
	to {
		transform: translateY(-100%);
		opacity: 0;
	}
}


.noScrollbar::-webkit-scrollbar {
	display: none;
}

@keyframes moveHorizontal {
  0% { transform: translateX(-50%) translateY(-10%); }
  50% { transform: translateX(50%) translateY(10%); }
  100% { transform: translateX(-50%) translateY(-10%); }
}

@keyframes moveInCircle {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}

@keyframes moveVertical {
  0% { transform: translateY(-50%); }
  50% { transform: translateY(50%); }
  100% { transform: translateY(-50%); }
}